.p1Name,
.p2Name {
  flex: 2 2 0;
  align-self: flex-start;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  min-width: 0;
}
.p1Skill,
.p2Skill {
  flex: 1 1 0;
  align-self: flex-end;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  min-width: 0;
}
