.balls {
  overflow: hidden;
}
.ball {
  /*animation: Ball-spin infinite 20s linear;*/
  width: 30%;
  padding: 1%;
  flex: 1;
  transform:rotate(-45deg);
}

/*@keyframes Ball-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
